
#menu{
    width: 35px;
    height: 30px;
    margin: auto;
    cursor: pointer;
}

.nav a{
    text-decoration: none;
    padding: 10px 133px 0px 133px;
    color: #3B4D4A;
    font-family: 'Khand';
}

.nav li{
    display: inline;
    
}

.nav li a:hover{
    color: #FFC367;
}


.nav{
    transition: 0.3s ease;
    display: none;
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #6FCAB9;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.change .bar{
    background-color: #B0C5C1;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
    transform: translateY(-6px) rotateZ(45deg);
}

.change #bar2{
    opacity: 0;
}


.change{
    display: block;
}




img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.container1{
    text-align: center;
}

.con1{
    display: inline-block;
    
    margin: 50px;
}

.container2{
    text-align: center;
}

.con2{
    display: inline-block;
    margin: 50px;
    
}

.container3{
    text-align: center;
}

.con3{
    display: inline-block;
    margin: 50px;

}





h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee';
}

h2{
    font-family: 'Khand';
}


h3{
    font-size: 10px;
    font-family: 'Josefin Slab';
}

p{
    text-align: center;
    width: 200px;
    font-size: 10px;
    font-family: 'Poiret One';
}

#outer{
    overflow: hidden;
}